{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block container %}
<div class="introduction">
    <h1>Sandip Shah</h1>
    <h4>(Software Engineer)</h4><br>
    <p>I'm Sandip Shah, so nice to meet you! I am a Computer Science student at Chandigarh University. I joined Computer Science Department because of my passion for Machine learning and Artificial Intelligence. I am very fond of technology and always curious to know how they work. I am a creative, responsible, flexible, optimistic, and consistent learner which helps me to learn about new technology and generate ideas to make people's life easier. Apart from the technical world, I do photography and write short stories.</p><br>
</div>
<div class="container">
    <div class="skills">
        <ul>
            <h3>Technical Skills</h3><br>
            <li>Python</li>
            <li>C++</li>
            <li>Data Structure and Algorithm</li>
            <li>Web Development</li>
            <li>Machine Learning</li>
            <br>
            <h3>Soft Skills</h3><br>
            <li>Teamwork</li>
            <li>Leadership</li>
            <li>Problem Solving</li>
            <li>Communication</li>
        </ul>
    </div>
    <div class="Education">
        <ul>
            <h3>Education</h3><br>
            <li><h4>Bachlor of Computer Science</h4><h4>Chandigarh University</h4><h5>7.66</h5></li>
            <li><h4>Secondary School(+2)</h4><h4>Trinity International College</h4><h5>2.9</h5></li>
        </ul>
    </div>
    <div class="Project">
        <ul>
            <h3>Projects</h3><br>
            <li>Project 1</li>
            <li>Project 2</li>
        </ul>
    </div>
</div>
<div class="div_social_media">
    <ul class="social_media">
        <li><a href="https://www.linkedin.com/in/sandip-shah-1b79911b9/" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100016503152071" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/one_5h0t/" target="_blank">Instagram</a></li>
        <li>shahsandeep980@gmail.com</li>
    </ul>
</div>

{% endblock %}